main {
  min-height: 100vh;
  background: rgb(255, 225, 187);
  background: linear-gradient(
    90deg,
    rgba(255, 225, 187, 1) 0%,
    rgba(244, 198, 241, 0.5116247182466737) 100%
  );
  padding: 10px;
}

h1 {
  text-align: center;
}

.cc-profile-ct {
  position: relative;
  margin-bottom: 20px;

  .cc-profileImageUpload-b {
    position: absolute;
    background-color: #eeeeee;
    height: 50px;
    width: 50px;
    bottom: calc(50% - 121px);
    right: calc(50% - 121px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    &:active {
      box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.cc-dashboard-ct {
  padding: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
